.jumbotron{
    background-color: pink;
    color: orange;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 10vh;
}
.column {
    float: left;
    width: 50%;
    padding: 0px;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}



#container{
    width: 226px;
    height: 274px;
    border: 3px solid darkblue;
    margin: auto
}
.t1, .t4{
    border: 1px solid black;
    height: 48px;
    margin-left: 3px;
    margin-top: 3px;
    display: inline-block;
    text-align: center;
    line-height: 48px;
}
.t1{
    width: 48px;
}
.t4{
    width: 219px;
}

#canvas{
    background-color: transparent;
    position: absolute;
    left: 83vh;
    top: 150px;

}


body {
    overflow-x:hidden;

}

.topnav {
    background-color: pink;
    overflow: hidden;
}


.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: orangered;
    color: black;
}

.topnav a.active {
    background-color: orange;
    color: white;
}